<% provide(:title, "注文情報確認") %>
<h2 class="head-line title_h2 text-center">注文情報確認</h2>
<div calss="row">
  <div class="col-xs-8">
    <% if current_customer.cart_items.present? %>
      <table class="table table-hover table-inverse table-bordered">
        <thead>
          <tr class="info">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart| %>
            <tr>
              <td>
                <%= attachment_image_tag( cart.product, :image, size: "60x50", fallback: "no_image.jpg") %>
                <%= cart.product.name %>
              </td>
              <td class="text-right">
                ¥<%= tax_price(cart.product.tax_out_price).to_s(:delimited) %>
              </td>
              <td>
                  <%= cart.quantity %>
              </td>
              <td class="text-right">
                ¥<%= sub_price(cart).to_s(:delimited) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-3 billing">
      <table class="table table-hover table-condensed table-bordered">
          <tr>
            <th class="info">送料</th>
            <td class="text-right col-xs-5">¥<%= @order.postage %></td>
          </tr>
          <tr>
            <th class="info">商品合計</th>
            <td class="text-right">¥<%= total_price(@cart_items).to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="info">請求金額</th>
            <td class="text-right">¥<%= billing(@order).to_s(:delimited) %></td>
          </tr>
      </table>
    </div>
    <div class="col-xs-9 billing">
      <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th  class="info"><strong>支払方法</strong></th>
          <td class="text-left">
            <%= @order.payment_method %>
          </td>
        </tr>
        <tr>
          <th  class="info"><strong>お届け先</strong></th>
          <td class="text-left">
            <%= "#{@order.postal_code} #{@order.address} 　#{@order.name}" %>
          </td>
        </tr>
      </table>

      <!-- 表示とformを分けて記入 -->
      <div class ="col-xs-9">
      <%= form_with model: @order, url: customers_orders_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :total_price %>
        <%= f.hidden_field :ship, value: @ship %>
        <%= link_to "注文情報入力へ戻る", new_customers_order_path, class: "btn btn-warning col-sm-3 back" %>
        <%= f.submit "購入を確定する", class: "btn btn-success center-block btn-lg col-sm-4" %>
      <% end %>
      </div>
    <% else %>
        <!-- if カートアイテムがない時 -->
        <p>お客様のショッピングカートに商品はありませんので注文確定ができません。</p>
        <p><%= link_to "商品一覧", products_path %>から商品をお探し下さい。</p>
    <% end %>
  </div>
</div>
