<h2 class="head-line title_h2 text-center">注文履歴詳細</h2>
<div calss="row">
  <div class="col-xs-8">
  	<strong>注文情報</strong>
      <table class="table table-hover">
        <tbody>
            <tr>
              <td class="active">注文日</td>
        	  <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
            　<td class="active">配送先</td>
              <td><%= @order.postal_code %><br>
              	  <%= @order.address %><br>
              	  <%= @order.name %>
              </td>
            </tr>
            <tr>
            　<td class="active">支払方法</td>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <td class="active">ステータス</td>
              <td><%= @order.order_status %></td>
            </tr>
        </tbody>
      </table>
  </div>

  <div class="col-xs-3 col-xs-offset-1">
    <strong>請求情報</strong>
      <table class="table table-hover">
          <tr>
            <td class="active">商品合計</td>
            <td><%= total_price(@order_details).to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="active">配送料</td>
            <td><%= @order.postage.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td class="active">ご請求金額</td>
            <td><%= @order.total_price.to_s(:delimited) %>円</td>
          </tr>
      </table>
  </div>
  <div class="col-xs-9">
  	<strong>注文内容</strong>
      <table class="table table-hover table-inverse">
      	<thead>
	      <tr  class="info">
	      	<th>商品</th>
	        <th>単価（税込）</th>
	      	<th>個数</th>
	      	<th>小計</th>
	      </tr>
      	</thead>
      	<tbody>
      	<% @order_details.each do |order_detail| %>
          <tr>
	        <td><%= order_detail.product.name %></td>
	        <td><%= tax_price(order_detail.product.tax_out_price).to_s(:delimited) %></td>
	        <td><%= order_detail.quantity %></td>
	        <td><%= sub_price(order_detail).to_s(:delimited) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>
