<div class="form-group col-xs-9">
  <%= f.label :"郵便番号", autofocus: true, class: "col-sm-4 control-label" %>
  <%= f.text_field :postal_code, class: "col-sm-4 form-control-static postal_code" %>
</div>

<div class="form-group col-xs-9">
  <%= f.label :"住所", class: "col-sm-4 control-label" %>
  <%= f.text_field :residence, autofocus: true, class: "col-sm-8 form-control-static address"  %>
</div>

<div class="form-group col-xs-9">
  <%= f.label :"電話番号", class: "col-sm-4 control-label" %>
  <%= f.text_field :phone_number, class: "col-sm-4 form-control-static" %>
</div>

<!-- , JpPrefecture::Prefecture.all, :code, :name -->
