<h2 class="head-line title_h2 text-center">パスワードをお忘れですか?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group col-xs-6">
    <%= f.label :email, class: "col-sm-4 control-label"%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static" %>
  </div>

  <div class="actions col-xs-offset-2 col-xs-9">
    <%= f.submit "メールアドレスに送信", class: "btn btn-primary col-xs-3" %>
  </div>
<% end %>

