<h2>注文履歴一覧</h2>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
		  <thead>
		    <tr>
		      <th>購入日時</th>
		      <th>購入者</th>
		      <th>注文個数</th>
		      <th>注文ステータス</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @orders.each do |order| %>
		      <tr>
		        <td>
		        	<%= link_to admin_order_path(order)  do %>
		            <%= order.created_at %>
		            <%= order.updated_at %>
		          <% end %>
		        </td>
		        <td>
		          <%= order.customer.name %>
		        </td>
		        <td>
		          <%= order.order_details.quantity.count %>
		        </td>
    	      <td>
              <% if order.order_status == 0 %>
              <p>入金まち</p>
              <% elsif order.order_status == 1 %>
              <p>入金確認</p>
              <% elsif order.order_status == 2 %>
              <p>発送準備中</p>
              <% elsif order.order_status == 3 %>
              <p>発送済</p>
              <% end %>
     	      </td>
     	    </tr>
		    <% end %>
		  </tbody>
		</table>

	</div>
</div>
