<h2 class="head-line title_h2 text-center">注文履歴一覧</h2>
	<% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-condensed">
		  <thead>
		    <tr>
		      <th>購入日時</th>
	      <th>購入者</th>
		      <th>注文個数</th>
		      <th>注文ステータス</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @orders.each do |order| %>
		      <tr>
		        <td>
		          <%= link_to admin_order_path(order)  do %>
		          	<%= order.created_at %>
		          <% end %>
		        </td>
		        <td>
		          <%= order.name %>
		        </td>
		        <td>
		          <%= order.order_details.count %>
		        </td>
    	        <td>
    	      	  <%= order.order_status %>
     	        </td>
     	      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
    <%= paginate(@orders) %>
</div>
