<% if product.genre.is_valid == true %>
  <div class="product-container">
    <p id="img_field" class="product">
      <%= link_to product_path(product.id) do %>
          <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
        <% end %>
      </p>
      <p class="products-name">
      <%= link_to product_path(product.id) do %>
        <%= product.name %>
      <% end %>
    </p>
    <p>¥<%= product.tax_out_price.to_s(:delimited) %></p>
  </div>
<% else %>
<% end %>
