<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>

		<div class="col-xs-9 product-index">
			<!--ジャンル検索一覧表示まだしていない-->
				<h2 class="product-headline">商品一覧</h2><span class="products-count">(全<%= @products.total_count %>件中　<%= @products.count %>件)</span>

				<div class="clearfix product-box">
					<% @products. each do |product| %>
					  <% if product.genre.is_valid == true %>
					    <div class="product-container">
					      <p id="img_field" class="product">
					        <%= link_to product_path(product.id) do %>
				            <%= attachment_image_tag(product, :image, size: "180x120", fallback: "no_image.jpg") %>
				          <% end %>
				        </p>
				        <p>
					  	    <%= link_to product_path(product.id) do %>
					  	      <%= product.name %>
					  	    <% end %>
					      </p>
					      <p>¥<%= product.tax_out_price.to_s(:delimited) %></p>
					    </div>
					  <% else %>
					  <% end %>
					<% end %>
				</div>
				<%= paginate(@products) %>
		</div>

	</div>
</div>
