<table class= "table">
<tr>
<td>
<%= attachment_image_tag(@product, :image, :fill, 100, 100, ) %>
</td>
<td>
<%= @product.name %>
</td>
<td>
<%= @product.explanation %>
</td>
<td>
<%= @product.tax_out_price %>
</td>
<td>
<%= select%>
</td>
<td>
カートに入れる
</td>
</tr>
</table>

