<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th><h3>ジャンル検索</h3></th>
					</tr>
				</thead>
				<tbody>
					<% @genres.each do |genre| %>
					  <tr>
						  <td><%= genre.name %></td>
					  </tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-xs-10">
			<div class = "example">
				<img src="assets/4dbc7e0f.jpg">
				<p>
				  ようこそ、NaganoCakeへ！<br>
				  このサイトは、ケーキ販売のECサイトになります。<br>
				  会員でない方も商品の閲覧はできますが、<br>
				  購入には会員登録が必要になります。<br>
				</p>
			</div>

			<p><%= link_to "このサイトについての詳細", about_path %>
			<h2><%= flash[:notice] %></h2>

			<h2 class="toppage-head">オススメ商品</h2>
			<!-- ランダムに4つ表示されるようになっています -->
			<% @products.shuffle.first(4). each do |product| %>
			  <% if product.genre.is_valid == true %>
					<div class="product-recommend">
					  　<p id="img_field" class="product">
					  	    <%= attachment_image_tag(product, :image, size: "180x120", fallback: "no_image.jpg") %>
				      	</p>
			      		<p>
				  	    <%= product.name %>
				    	</p>
				    	<p>
				    	　¥<%= product.tax_out_price.to_s(:delimited) %>
				    	</p>
					</div>
			  <% else %>
			  <% end %>
			<% end %>
			<p><%= link_to "もっと見る", products_path %></p>
		</div>

	</div>
</div>