<% provide(:title, "ジャンル一覧・追加") %>
<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">ジャンル一覧・追加</h2>
      <%= form_for @genre, :url => {:action => :create} do |f| %>
        <%= render "layouts/error_messages", resource: @genre %>
        <div>
          <i class="fas fa-candy-cane"></i>ジャンル
          <%= f.text_field :name  %>
            <%= f.radio_button :is_valid, true %>
            <%= f.label :is_valid, "有効", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_valid, false %>
            <%= f.label :is_valid, "無効", {value: :false, style: "display: inline-block;"} %>
          <%= f.submit "追加", class: "btn btn-info" %>
        </div>
      <% end %>

      <table class="table table-hover table-inverse">
        <thead>
          <tr class="info">
            <td>ジャンル</td>
            <td>状態</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name%></td>

              <% if genre.is_valid == true %>
                <td><i class="fas fa-bullseye red"></i>有効</td>
              <% elsif genre.is_valid == false %>
                <td><i class="fas fa-bullseye blue"></i>無効</td>
              <% end %>
              <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "glyphicon glyphicon-pencil btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
    <div class= "text-center"><%= paginate(@genres) %></div>
</div>
