<h2>配送先編集</h2>

<%= form_with(model: @shipping_address, url:customers_shipping_address_path, local: true ,method: :patch) do |f| %>

<div class="field row">
<%= f.label :郵便番号 %>
<%= f.text_field :postal_code, class: "col-xs-3" %>
</div>

<div class="field row">
<%= f.label :住所 %>
<%= f.text_field :address, class: "col-xs-8" %>
</div>

<div class="field row">
<%= f.label :宛名 %>
<%= f.text_field :name, class: "col-xs-3" %>
</div>

<div class="actions row">
<%= f.submit '編集する' ,class: "btn btn-primary col-xs-1" %>
</div>

<% end %>
