<% provide(:title, "商品一覧") %>
<h2 class="head-line title_h2 text-center">商品一覧</h2>
<div class="row">
  <div class="col-xs-12">
    <%= link_to "新規商品登録", new_admin_product_path, data: {"turbolinks" => false}, class: "btn btn-warning pull-right" %>
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="info">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
				<% @products.each do |product| %>
  				<tr>
            <td>
              <%= product.id %>
            </td>
            <td>
              <%= link_to admin_product_path(product), class: "btn-link" do %>
                <%= product.name %>
              <% end %>
            </td>
            <td>
              <%= product.tax_out_price.to_s(:delimited) %>
            </td>
            <td>
              <%= product.genre.name %>
            </td>
            <td>
              <% if product.is_sale == true %>
                <% if product.genre.is_valid == true %>
      					  <p>販売中</p>
                <% else %>
                  <p>販売停止中</p>
                <% end %>
      				<% elsif product.is_sale == false %>
      					<p>販売停止中</p>
      				<% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <%= paginate(@products) %>
</div>
