<h2>商品一覧</h2>
<div class="row">
  <div class="col-xs-12">
    <%= link_to "新規商品（ボタンに変更）", new_admin_product_path, data: {"turbolinks" => false} %>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
				<% @products.each do |product| %>
  				<tr>
            <td>
              <%= product.id %>
            </td>
            <td>
              <%= link_to admin_product_path(product) do %>
                <%= product.name %>
              <% end %>
            </td>
            <td>
              <%= product.tax_out_price.to_s(:delimited) %>
            </td>
            <td>
              <%= product.genre.name %>
            </td>
            <td>
              <% if product.is_sale == true %>
      					<p>販売中</p>
      				<% elsif product.is_sale == false %>
      					<p>販売停止中</p>
      				<% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
