<h2>商品新規登録</h2>
<div class="row">
  <%= form_for @product do |f| %>
	  <div class="col-xs-4">
      <div id="img_field">
          <%= attachment_image_tag(@product.image, size: "200x200", fallback: "no-image.jpg") %>
      </div>
	      <%= f.attachment_field :image, class: "image" %>
    </div>
    <div class="col-xs-4">
      <div class="field">
        <%= f.label :"商品名" %>
        <%= f.text_field :name, class: "name" %>
      </div>
      <div class="field">
        <%= f.label :"商品説明" %>
        <%= f.text_area :explanation, class: "explanation" %>
      </div>
      <div class="field">
        <%= f.label :"ジャンル" %>
        <%= f.select :genre_id, [@genre], {}, class: "genre" %>
      </div>
      <div class="field">
        <%= f.label :"税抜価格" %>
        <%= f.text_field :tax_out_price, class: "tax_out_price" %>円
      </div>
      <div class="field">
        <%= f.label :"販売ステータス" %>
        <%= f.select :is_sale, [['販売中', true], ['販売停止', false]], {}, class: "is_sale" %>
      </div>
      <div class="actions">
	      <%= f.submit "新規登録" %>
      </div>

    </div>
  <% end %>
</div>
