<h2>商品詳細</h2>
<div class="row">
	  <div class="col-xs-4">
      <div id="img_field">
          <%= attachment_image_tag(@product, :image, size: "200x200", fallback: "no_image.jpg") %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="field">
        <%= @product.name %>
      </div>
      <div class="field">
        <%= f.label :"商品説明" %>
      </div>
      <div class="field">
        <%= f.label :"ジャンル" %>
      </div>
      <div class="field">
        <%= f.label :"税抜価格" %>
      </div>
      <div class="field">
        <%= f.label :"販売ステータス" %>
      </div>

    </div>
</div>
