<% provide(:title, "商品詳細") %>
<h2 class="head-line title_h2 text-center">商品詳細</h2>
<div class="row">
	<div class="col-xs-12">
	  <div class="col-xs-4">
	      <div id="img_field">
	          <%= attachment_image_tag(@product, :image, size: "300x220", fallback: "no_image.jpg") %>
	      </div>
      </div>
      <div class="col-xs-6">
	      <div class="field">
					<p>
						商品名　　　　　<%= @product.name %>
					</p>
	      </div><br>
	      <div class="field">
					<p>
						商品説明　　　　<%= @product.explanation %>
					</p><br>
	      </div>
	      <div class="field">
					<p>
						ジャンル　　　　<%= @product.genre.name %>
					</p><br>
	      </div>
	      <div class="field">
					<p>
						税込価格　　　　<%= tax_price(@product.tax_out_price).to_s(:delimited) %>
	        								(<%= @product.tax_out_price.to_s(:delimited) %>) 円<br>
						(税抜価格)
					</p><br>
	      </div>
	      <div class="field">
					<p>
						販売ステータス
		        <% if @product.is_sale == true %>
							　<i class="fas fa-bullseye red"></i>販売中
						<% elsif @product.is_sale == false %>
							　<i class="fas fa-bullseye blue"></i>販売停止中
						<% end %>
					</p>
	      </div>
		  <div class="actions col-xs-9">
	      		<%= link_to "編集する", edit_admin_product_path(@product), data: {"turbolinks" => false}, class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
      	  </div>
      	</div>
    </div>
</div>
