<% provide(:title, "カート") %>
<h2 class="head-line title_h2 text-center">ショッピングカート</h2>
<div calss="row">
  <div class="col-xs-11" id="no_cart">

    <% if @cart_items.present? %>
    <div class="pull-right margin-bottom">
      <%= link_to " カートを空にする", customers_cart_items_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: "glyphicon glyphicon-trash btn btn-danger" %>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="info">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cart_items.each do |cart_item| %>
  			  <tr id="cart-<%= cart_item.id %>">
            <%= render "quantity_form", cart_item: cart_item %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-xs-9 margin-bottom">
      <div class ="action">
        <%= link_to " 買い物を続ける", products_path, class: "glyphicon glyphicon-shopping-cart btn btn-info" %>
      </div>
    </div>

    <div class="col-xs-3 pull-right billing">
      <table class="table table-bordered text-right">
        <thead>
          <tr>
            <td class="warning">合計金額</td>
            <td class="text-right" id='total_price'>
              ¥<%= total_price(@cart_items).to_s(:delimited) %>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= link_to " 情報入力に進む", new_customers_order_path, data: {"turbolinks" => false}, class: "glyphicon glyphicon-pencil btn btn-success center-block" %>
    </div>
    <% else %>
      <%= render "no_cart" %>
    <% end %>
  </div>
</div>
