<% provide(:title, "カート") %>
<h2 class="head-line title_h2 text-center">ショッピングカート</h2>
<div calss="row">
  <div class="col-xs-11">

    <% if @cart_items.present? %>
    <div class="pull-right margin-bottom">
      <%= link_to " カートを空にする", customers_cart_items_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: "glyphicon glyphicon-trash btn btn-danger" %>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="info">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cart_items.each do |cart| %>
  			  <tr>
            <td class="text-left">
              <%= attachment_image_tag( cart.product, :image, size: "55x43", fallback: "no_image.jpg") %>
              <%= cart.product.name %>
            </td>
            <td class="text-right">
      				¥<%= tax_price(cart.product.tax_out_price).to_s(:delimited) %>
            </td>
            <td>
              <%= form_for(cart, url: customers_cart_item_path(cart), method: :patch) do |f| %>
                <%= f.number_field :quantity, class: "quantity", size: 10, min: 1, id: "quantity_cart" %>
                <%= f.submit "変更", class: "btn btn-info" %>
              <% end %>
            </td>
            <td class="text-right">
              ¥<%= sub_price(cart).to_s(:delimited) %>
            </td>
            <td>
              <%= link_to " 削除する", customers_cart_item_path(cart), method: :delete, data: {confirm: "#{cart.product.name}を削除してよろしいですか？"}, class: "glyphicon glyphicon-trash btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-xs-9 margin-bottom">
      <div class ="action">
        <%= link_to " 買い物を続ける", products_path, class: "glyphicon glyphicon-shopping-cart btn btn-info" %>
      </div>
    </div>

    <div class="col-xs-3 pull-right billing">
      <table class="table table-bordered text-right">
        <thead>
          <tr>
            <td class="warning">合計金額</td>
            <td class="text-right">
              ¥<%= total_price(@cart_items).to_s(:delimited) %>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= link_to " 情報入力に進む", new_customers_order_path, class: "glyphicon glyphicon-pencil btn btn-success center-block" %>
    </div>
    <% else %>
    <!-- if カートアイテムがない時 -->
    <p>お客様のショッピングカートに商品はありません。</p>
    <p><%= link_to "商品一覧", products_path %>から商品をお探し下さい。</p>
    <% end %>
  </div>
</div>
