<h2>ショッピングカート</h2>
<div calss="row">
  <div class="col-xs-12">

    <!-- if カートアイテムがない時 -->
    <% if @cart_items.present? %>


    <%= link_to "カートを空にする", customers_cart_items_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'} %>

    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cart_items.each do |cart| %>
  			  <tr>
            <td>
              <%= attachment_image_tag( cart.product, :image, size: "60x50", fallback: "no_image.jpg") %>
              <%= cart.product.name %>
            </td>
            <td>
      				<%= tax_price(cart.product.tax_out_price).to_s(:delimited) %>
            </td>
            <td>
              <%= form_for(cart, url: customers_cart_item_path(cart), method: :patch) do |f| %>
                <%= f.number_field :quantity, class: "quantity", size: 10, min: 1 %>
                <%= f.submit "変更" %>
              <% end %>
            </td>
            <td>
              <%= sub_price(cart).to_s(:delimited) %>
            </td>
            <td>
              <%= link_to "削除する", customers_cart_item_path(cart), method: :delete, data: {confirm: '商品を削除してよろしいですか？'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class ="action">
      <%= link_to "買い物を続ける", products_path %>
    </div>

    <div class="total_price">
      <p>合計金額</p>
      <p>
        <!-- productにNoMethodErrorが出る -->
        <%# <% total_price = @cart_item.product.sum(:tax_out_price) * 1.1 %> %>
        <%= total_price(@cart_items).to_s(:delimited) %>

      </p>
    </div>
    <%= link_to "情報入力に進む", new_customers_order_path %>

    <% else %>
    <p>お客様のショッピングカートに商品はありません。</p>
    <p><%= link_to "商品一覧", products_path %>から商品をお探し下さい。</p>
    <% end %>
  </div>
</div>
