<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <%= link_to "NaganoCAKE", root_path %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if customer_signed_in? %>

          <!--カスタマーがログインしている時 -->
          <li>
            ようこそ、<%= current_customer.first_name %>さん！
          </li>
          <li>
            <%= link_to "マイページ", customers_path(current_customer) %>
          </li>
          <li>
            <%= link_to "商品一覧", products_path %>
          </li>
          <li>
            <%= link_to customers_cart_items_path do %>
              カート(<%= current_customer.cart_items.count %>)
            <% end %>
            <%# <%= link_to "カート", customers_cart_items_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </li>

        <% elsif admin_signed_in? %>

          <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to "商品一覧", admin_products_path %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li>
            <%= link_to "注文履歴一覧", admin_orders_path %>
          </li>
          <li>
            <%= link_to "ジャンル一覧", admin_genres_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>

          <p>Search</p>

        <% else %>

          <!-- ログインしていない時 -->
          <li>
            <%= link_to "商品一覧", products_path %>
          </li>
          <li>
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_customer_session_path %>
          </li>

          <!-- 最後の消す -->
          <li>
            <%= link_to "adminログイン", new_admin_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
