<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6f0d38cdd3.js" crossorigin="anonymous"></script>
  </head>

  <body id="wrapper">
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <ul class="footer-menu">
       <li>home ｜</li>
       <li>about ｜</li>
       <li>service ｜</li>
       <li>Contact Us</li>
      </ul>
      <p>© All rights reserved by chanchans.</p>
    </footer>
  </body>
</html>
